.my-logo-sosmed {
	width: 30px;
	height: 30px;
}
.my-alamat{
	text-align: right;
	margin-top: 50px;
}
.my-logo{
	margin-top: 50px;
}

.merah{
	background-color: red;
}

.my-menu{
	margin-top: 30px;
	background-color:#0055A7;
}

.my-menu a{
	color: aqua;
}
.my-menu a:hover{
	color:white;
}

.my-slider{
	background-color: #424241;
	padding-top: 5px;
	padding-bottom: 10px;
}

.my-kotak{
	width: 100%;
	height: 300px;
	background-color: #CCC9C9;
	border: #8B8A8A 1px solid;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.my-kotak img{
	width: 120px;
	height: 120px;
	margin-bottom: 20px;
	margin-top: 10px;
}


.my-side-menu h2{
	font-weight: bold;
	color: #00002B;
	border-bottom: #00002B 5px solid;
	background: url(../images/logo-kecil2.jpg) no-repeat;
	padding-left: 55px;
}

.my-main-content{
	margin-bottom: 20px;
}

.my-main-content h1{
	font-weight: bold;
}

.my-main-content img{
	width: 300px;
	float:left;
	margin-right: 15px;
}

.my-main-content p{
	text-align: justify;
}

.my-footer{
	background-color: #0055A7;
	color:white;
	padding-top: 20px;
	padding-bottom: 20px;
}

.judul-content{
	color: #454545;
	border-bottom: 5px #454545 solid;
	margin-bottom: 30px;
}

@media (max-width: 576px){
	.my-logo{
		text-align: center;
	}
	.my-alamat{
		text-align: center;
		margin-top:10px;
	}
}
